:root{
    --dark: #570091;
    --text: white;

}

.footer{
    padding-top: 10px;
    background-color:var(--dark);
    color: var(--text);   
}
.nav{
    background-color: var(--dark);
}
.link-color{
    color: var(--text);
}
.page{
    position: relative;
    min-height: 100vh;
  }
  
  .content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
